body {
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

	background-color: rgb(136, 231, 238);
}

.container {
	margin: auto;
	width: 60%;
}

img {
	display: inline-block;
}

.caption {
	display: block;
	text-align: center;
}

.garments {
	display: flex;
	flex-wrap: wrap;
}

.addGarment{
	background-color: rgb(233, 151, 226);
	border: 1px solid rgb(255, 130, 47);
	padding: 1em;
	margin: 0.25em;
	border-radius: 0.5em;
	align-items: center;
}

.delete{
	background-color: rgb(199, 45, 45);
	color: white;
}

.add {
	border-radius: 0.5em;
	color: rgb(233, 151, 226);
}

.garment {
	flex : 1;
	background-color: rgb(233, 151, 176);
	border: 1px solid rgb(255, 47, 47);
	padding: 1em;
	margin: 0.25em;
	border-radius: 0.5em;
}

.error{
	text-align: center;
	color: red;
}
.success{
	text-align: center;
	color: green;
}

.hidden{
	display: none;
}